@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p>Bewander is a fresh social media website that was created to connect travelers to the best way to see the world on whatever budget. It strives to be a trusted source of reviews created by like-minded travelers and help travelers network while abroad. When you go somewhere new, you tend to ask your friends what they thought if they’ve been here. That’s what Bewander is - a place for you to get traveling advice you can rely on - without a vested interest. So create a profile, review places you’ve traveled to and share with everyone what is what.</p>
<p>We are becoming more and more interconnected, and Bewander creates a platform for people like you to share what you see in the world. Get the travel info you want, not what “they” want you to hear. This is where social media meets real people.</p>

<br />
<h2>Creators</h2>

<h4>Alex</h4>
<p>Alex has traveled the world a healthy amount and loves discovering new places. He has a great sense of humor and always keeps things real. He is continually looking for ways to experience life and make this world a better place.
<br />He is the business smarts and expert marketer.</p>

<h4>Jack</h4>
<p>Jack brings the necessary technology knowledge and advice to the table. He is the Co-Founder of <a href="http://learncodinganywhere.com">The Tech Academy (www.learncodinganywhere.com)</a> and <a href="http://www.prosperitconsulting.com">Prosper I.T. Consulting (www.prosperitconsulting.com)</a>. As a two-time successful business entrepreneur, he adds experience and guidance to the team.
<br />He is the coding mastermind and dream builder.</p>

<h4>Laurien</h4>
<p>Laurien has an extreme case of wanderlust. She has traveled to more than 30 countries and swears that traveling is an incurable addiction. She loves meeting locals and really getting the feel of the cultures of the countries she visits. She shares Alex’s desire to make this world a better place.
<br />She is the artistic director and global networker.</p>