
@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>
<p>It happens. Things don’t always go as planned.</p>
<p>Contact us at: <a href="mailto:support@bewander.com">support@bewander.com</a> for site-related assistance and we will get with you as soon as we can.</p>
