
@{
    ViewBag.Title = "Privacy";
}

<h2> Privacy Policy </h2>
    <br />
<p>Every member's registration data and other personal information are strictly protected by the Bewander Online Privacy Policy (see the full Privacy Policy at XXX). As a member, you agree and consent to the collection and use of the information provided, including the transfer of information within the United States and/or other countries for storage, processing or use by Bewander and/or our subsidiaries and affiliates.</p>

